[Desktop Entry]
Type=Application
Exec=YOUR_PATH_TO_LITTLEFGCONNECT/littlefgconnect
Path=YOUR_PATH_TO_LITTLEFGCONNECT/
Name=Little FGconnect
GenericName=Little FGconnect
Icon=YOUR_PATH_TO_LITTLEFGCONNECT/littlefgconnect.svg
Terminal=false
Categories=Qt;Utility;Geography;Map;

